<div class="row">
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-midnight-bloom">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Total Units</div>
          <div class="widget-subheading">Vacant: 1200</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>1896</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-arielle-smile">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Leases</div>
          <div class="widget-subheading">Running: 233</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>568</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-grow-early">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Invoices</div>
          <div class="widget-subheading">Due: $9877</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-white"><span>$ 978767</span></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-4">
    <div class="card mb-3 widget-content bg-premium-dark">
      <div class="widget-content-wrapper text-white">
        <div class="widget-content-left">
          <div class="widget-heading">Appointments</div>
          <div class="widget-subheading">This Week: 63</div>
        </div>
        <div class="widget-content-right">
          <div class="widget-numbers text-warning"><span>3560</span></div>
        </div>
      </div>
    </div>
  </div>
</div>